
body{
    background-color: #1D1D1D;
    color: white;
    /* margin: 0 25px 0 25px; */
    font-family: "Mulish", sans-serif;
    /* cursor: crosshair; */
}

html{
    scroll-behavior: smooth;
}

@import url('https://css.gg/css');

.gg-menu-cake{
    color: white;
}

a {
    text-decoration:none;
    color:#FFF;
}

figcaption{
    font-style: italic;
}

.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.slow-fade{
    animation-duration: 1s;

}

/*                     BEGIN NAVBAR                    */

.navbar-toggler{
    color:white;
    /* border-color: #00093D; */
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #B55414;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #00093D;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: white;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: white;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #1D1D1D;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: white;
    }
}

.gradient-text:hover{
background-color: #B55414;
background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
background-size: 100%;
background-repeat: repeat;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: white;
animation:slidebg 5s linear infinite;
/* color: #B55414; */
}

  @keyframes slidebg {
    to {
      background-position:20vw;
    }
  }

header li{
    padding: 0 25px 0 25px;
}

.header{
    margin: 50px 0 50px 0;
}

.fixed-top{
    position:absolute
}

/* button{
    height: 45px;
    width: 150px;
    color: white;
    background-color: #B55414 ;
    border-radius: 25px;
    border: 3px solid #B55414;
    transition-duration: 0.4s;
} */



/*                      END NAVBAR                         */


/*                      BEGIN BUTTONS                        */

button{
    height: 45px;
    width: 150px;
    color: #1D1D1D;
    background-color: white ;
    border-radius: 25px;
    border: 3px solid white;
    transition-duration: 0.5s;
}


.rainbow-button button:hover{
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    animation:slidebg 5s linear infinite;
}
/* button:hover{
    background-color:#B55414;
    animation-direction: normal;
    color: white;
} */

button:active{
    font-size: large;
    font-stretch: extra-expanded;
    
}

@media (max-width: 991.98px) {
    .hero img{
        display:none
    }
}

.hero img{
    height: 100%;
    width: 100%;
    /* border-radius: 5px; */
}

.project-card button{
    height: 45px;
    width: 150px;
    color: #1D1D1D;
    background-color: white ;
    border-radius: 25px;
    border: 3px solid white;
    transition-duration: 0.4s;
}

button:hover{

    background-color: #B55414;
background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
background-size: 100%;
background-repeat: repeat;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: white;
animation:slidebg 5s linear infinite;

    /* background-color:#B55414; */
    /* color: white;
    border: 3px solid #B55414;
    background-color: transparent;
    opacity: 0.8; */
}

.project-card button:hover{
    /* background-color:#B55414; */
    color: white;
    border: 3px solid white;
    background-color: transparent;
    opacity: 0.8;
}


/*                      END BUTTONS                      */


.hero{
    margin: 100px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0 0;
    
    /* height: 80vh; */
}

.hero div{
    justify-content: center;
    align-items: center;
}

/* .hero img{
    display: flex;
    align-items: center;
    align-content: center;
} */

/* .hero-copy{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
} */

.project-card{
    margin: 25px 25px 25px 25px;
}

.top-project-card{
    margin: 100px 25px 25px 25px;
}

.project-1{
    margin: 0px 25px 25px 25px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(../images/Background\ Image\ with\ Screen.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    /* height:800px; */
    width: auto;
}

@media( max-width:1025px) {
    .project-1{
        background-image: url(../images/Background\ without\ screen.png);
    }
}


.whatshapp{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(../images/Background\ without\ screen.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    height: 80vh;
    /* height:800px; */
    width: auto;
    background-attachment: fixed;
}

@media(max-width:1025px) {
    .whatshapp{
        background: url(../images/Background\ without\ screen.png) no-repeat center;
    }
}

.project-2{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(../images/AGFT-background-light.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    /* height:800px; */
    width: auto;
}

.agft{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(../images/AGFT-background-light.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vh;
    /* height:800px; */
    background-size: auto;
}

@media (max-width:1025px) {
    .agft{
        background: url(../images/AGFT-background-light.png) no-repeat center;
    }   
}

.project-3{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(../images/PSDP-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    /* height:800px; */
    width: auto;
}

.psdp{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(../images/PSDP-background.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    width: auto;
}

/* .psdp{
    background: url(../images/PSDP-background.png) no-repeat center;
    height: 80vh;
    width: auto;
} */

@media (max-width:1025px) {
    .psdp{
        background: url(../images/PSDP-background\ small.png) no-repeat center;
    }   
}

.more{
    padding: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.more button{
    margin: 25px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: grey;
}

/* Project 1 Page */

.project-hero div{
    padding: 0 0 0 0;
}

.project-hero .row{
    margin-left: 0;
    margin-right: 0;
}

.project-hero{
    margin: 100px auto 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70vh;
}

.description{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0 0 50px 0;
    animation-duration: 1.5s;

}

.research{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #1D1D1D;
    padding: auto 150px auto 150px;
    /* height: 50vh; */
    padding-top: 50px;
    
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: grey;
    /* padding: auto 150px auto 150px; */
    /* height: 30vh; */
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: white;
    color: #1D1D1D;
    padding: 50px 0 50px 0;
    /* height: 70vh; */
    /* background-image: url(../images/storyboard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
}

.psdp-persona{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-image: url(../images/PSDP\ Dog-Walking-Background.png);
    background-attachment: fixed;
    background-color:#308a60;
    color: white;
    padding: 25px 0 25px 0;
    /* height: 70vh; */
    /* background-image: url(../images/storyboard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
}

@media (max-width:1025px) {
    .psdp-persona{
        background: url(../images/PSDP\ Dog-Walking-Background.png) no-repeat center;
    }   
}

figcaption{
    text-align: center;
}

.insights div{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.insights img{
    /* height: 70vh; */
    width: 50vw;
    /* scale: 40%; */
    margin: 50px 0 0 0;
}

.ideation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #1D1D1D;
    padding: auto 150px auto 150px;
    /* height: 50vh; */
    padding-top: 50px;
}

.prototype{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #1D1D1D;
    padding: auto 150px auto 150px;
    /* height: 50vh; */
    padding-top: 50px;
}

.sketches{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: #1D1D1D;
    color: white;
    padding: 50px 150px 0 150px;
    /* height: 50vh; */
}

.gallery p{
    /* margin: 0 auto 0 auto; */
    padding: auto 150px auto 150px;
    text-align: left;
}
.gallery h1{
    /* margin: 0 auto 0 auto; */
    padding: auto 150px auto 150px;
    text-align: left;
}

/* .gallery p{
    padding 50px 
} */

.solution{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 150px auto 150px;
    margin: 50px 0 0 0;
    /* height: 100vh; */
}

.demo-mov{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 50px auto 50px auto;
}

.gallery{
    margin: 100px auto;
    /* display: flex; */
    text-align: center;
}

.icons{
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back-to-top{
    color: white;
    text-align: center;
    margin: 50px 0 50px 0;
}

.back-to-top a{
    color: white;
    text-decoration: none;
    font-size: large;
}

/*                  END PROJECT 1 PAGE               */

/*                  CONTACT PAGE */

.contact-hero{
    margin: 100px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 80vh; */
    background-image: url(../images/Let\ the\ journey\ begin.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: none;
    height: 90vh;
}

.contact-hero img{
    width: 500px;
    height: auto;
}
.contact-hero a{
color: white;
}

.stats{
    background-color: white;
    color: #1D1D1D;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    padding: 0 0 0 0;
}

.stat1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    padding: 50px 10px 0 10px;
}

.stat2{
    height: 50vh;
    width: 50vw;
    background-color: #00093D;
}

.stat3{
    height: 50vh;
    width: 50vw;
    background-color: #FEBF2C;
}

.stat4{
    height: 50vh;
    width: 50vw;
    background-color: #1CB89F;
}


.quote-AGFT{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: grey;
    padding: 50px 0 0 0;
    /* height: 30vh; */
}

.home-screen{
background-image: linear-gradient(white, grey);
display: flex;
flex-direction: column;
}

.home-screen div{
    align-content: center;
    display: flex;
flex-direction: column;
}

.home-screen img{
    height: 500px;
    width: auto;
}

.middle{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}

.link{
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    justify-items: center;
}

.psdp-img1{
    margin: 0 0 0 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 70vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center ;
    background-image: url(../images/PSDP\ dog\ cuddles.jpg);
    background-size: cover;
}

@media (max-width:1025px) {
    .psdp-img1{
        background: url(../images/PSDP\ dog\ cuddles\ small.png) no-repeat center;
        height: 50vh;
    }   
}


.psdp-img2{
    margin: 0 0 0 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/PSDP\ Boy\ and\ Dog.jpg);
}

@media (max-width:1025px) {
    .psdp-img2{
        background: url(../images/PSDP\ Boy\ and\ Dog\ small.png) no-repeat center;
        height: 50vh;
    }   
}

.quote-psdp{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: grey;
    padding: 50px 0 50px 0;
    /* height: 30vh; */
}

.top-buffer{
    padding: 50px 0 0 0;
}

/*                 START OF EVERYBITE                   */

.eb{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(../images/EB\ background.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    /* height:800px; */
    width: auto;
}

.project-eb{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(../images/EB\ background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    /* height:800px; */
    width: auto;
}

@media(max-width:1025px) {
    .eb{
        background: url(../images/EB\ background.png) no-repeat center;
    };
}

.card:hover{
    box-shadow: #1D1D1D;
}

.stat-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0 15px 0;
}

.stats-cards{
    background-color: white;
    color: #1D1D1D;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    padding: 0 0 0 0;
}

.stats-card div{
    align-content: center;
}

.eb-stats{
    background-color: white;
    color: #1D1D1D;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    padding: 0 0 100px 0;
}

.eb-persona{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-image: url(../images/EB\ Vegetable\ Background.png);
    background-attachment: fixed;
    background-color:#308a60;
    color: white;
    padding: 100px 0 100px 0;
    /* height: 70vh; */
    /* background-image: url(../images/storyboard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
}

@media (max-width:1025px) {
    .eb-persona{
        background: url(../images/EB\ Vegetable\ Background.png) no-repeat center;
    }   
}

.eb-empathy-map{
    margin: 150px 0 150px 0;
}

.eb-says{
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: url(../images/eb-says-img.png) no-repeat center;
    background-size: cover;
    transition-duration: .3s;
    height: 50vh;
}

.eb-says:hover{
background: #99ADFF;
}

.eb-says h1{display: none;}
.eb-says:hover > h1{display:block;}

.eb-says p{display: none;}
.eb-says:hover > p{display:block;}

.eb-thinks{
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: url(../images/eb-thinks-img.png) no-repeat center;
    background-size: cover;
    /* transition: ease-in-out; */
    transition-duration: .5s;
    height: 50vh;
}

.eb-thinks:hover{
background: #99F1FF;
    transition-duration: .5s;
}

.eb-thinks h1{display: none;}
.eb-thinks:hover > h1{display:block;}

.eb-thinks p{display: none;}
.eb-thinks:hover > p{display:block;}

.eb-does{
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: url(../images/eb-does-img.png) no-repeat center;
    background-size: cover;
    /* transition: ease-in-out; */
    transition-duration: .5s;
    height: 50vh;
}

.eb-does:hover{
background: #FF9999;
    transition-duration: .5s;
}

.eb-does h1{display: none;}
.eb-does:hover > h1{display:block;}

.eb-does p{display: none;}
.eb-does:hover > p{display:block;}

.eb-feels{
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: url(../images/eb-feels-img.png) no-repeat center;
    background-size: cover;
    /* transition: ease-in-out; */
    transition-duration: .5s;
    height: 50vh;
}

.eb-feels:hover{
background: #99FFB4;
    transition-duration: .5s;
}

.eb-feels h1{display: none;}
.eb-feels:hover > h1{display:block;}

.eb-feels p{display: none;}
.eb-feels:hover > p{display:block;}

.eb-likes{
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: url(../images/eb-likes-img.png) no-repeat center;
    background-size: cover;
    /* transition: ease-in-out; */
    transition-duration: .5s;
    height: 50vh;
}

.eb-likes:hover{
background: #C999FF;
    transition-duration: .5s;
}

.eb-likes h1{display: none;}
.eb-likes:hover > h1{display:block;}

.eb-likes p{display: none;}
.eb-likes:hover > p{display:block;}

.eb-dislikes{
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: url(../images/eb-dislikes-img.png) no-repeat center;
    background-size: cover;
    /* transition: ease-in-out; */
    transition-duration: .5s;
    height: 50vh;
}

.eb-dislikes:hover{
background: #F8FF99;
    transition-duration: .5s;
}

.eb-dislikes h1{display: none;}
.eb-dislikes:hover > h1{display:block;}

.eb-dislikes p{display: none;}
.eb-dislikes:hover > p{display:block;}

.quote-eb{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: gray;
    padding: 150px 0 150px 0;
    /* height: 30vh; */
}

.eb-img1{
    margin: 0 0 0 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 70vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center ;
    background-image: url(../images/eb-img1.jpg);
    background-size: cover;
}

@media (max-width:1025px) {
    .eb-img1{
        background: url(../images/eb-img1-small.png) no-repeat left;
        height: 50vh;
    }   
}

.eb-img2{
    margin: 0 0 0 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 70vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/eb-img2.jpg);
}

@media (max-width:1025px) {
    .eb-img2{
        background: url(../images/eb-img2-small.png) no-repeat center;
        height: 50vh;
    }   
}

/*                  END OF EVERYBITE                     */