
body{
    background-color: #1D1D1D;
    color: white;
    /* margin: 0 25px 0 25px; */
    font-family: "Mulish", sans-serif;
    cursor: crosshair;
}

.navbar-toggler{
    color:white;
    /* border-color: #00093D; */
}

/* .navbar{
    background-color: #F8B101;
} */

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    /* color: #fff; */
    color: white;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #B55414;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #00093D;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: white;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: white;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #1D1D1D;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: white;
    }
}

header li{
    padding: 0 25px 0 25px;
}

.fixed-top{
    position:absolute
}

button{
    height: 45px;
    width: 150px;
    color: white;
    background-color:#0C3D41 ;
    border-radius: 25px;
    border: none;
    animation: .5s ease-in-out;
}

button:hover{
    background-color:#B55414;
    animation-direction: normal;
}

button:active{
    font-size: large;
    font-stretch: extra-expanded;
    
}

@media (max-width: 991.98px) {
    .hero img{
        display:none
    }
}

.project-card button{
    color: #0C3D41;
    background-color: white;
}

button:hover{
    background-color:#B55414;
    animation-direction: normal;
}

/* .hero div{
    padding: 0 5px 50px 5px;
}

.hero .row{
    margin-left: 0;
    margin-right: 0;
} */

.hero{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 80vh; */
}

/* .hero img{
    display: flex;
    align-items: center;
    align-content: center;
} */

/* .hero-copy{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
} */

.project-card{
    margin: 25px 25px 25px 25px;
}

.project-1{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(../images/Background\ without\ screen.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    /* height:800px; */
    width: auto;
}

.project-2{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(../images/Background\ Image\ with\ Screen.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    /* height:800px; */
    width: auto;
}

.project-3{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(../images/Background\ Image\ with\ Screen.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    /* height:800px; */
    width: auto;
}

.footer{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: grey;
}

/* Project 1 Page */

.project-hero div{
    padding: 0 0 0 0;
}

.project-hero .row{
    margin-left: 0;
    margin-right: 0;
}

.project-hero{
    margin: 100px auto 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70vh;
}

.description{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0 0 50px 0;

}

.research{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #1D1D1D;
    padding: auto 150px auto 150px;
    height: 50vh;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: grey;
    /* padding: auto 150px auto 150px; */
    /* height: 30vh; */
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
    color: #1D1D1D;
    padding: 50px 0 50px 0;
    /* height: 70vh; */
    /* background-image: url(../images/storyboard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
}

.insights div{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.insights img{
    /* height: 70vh; */
    width: 50vw;
    /* scale: 40%; */
}

.prototype{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #1D1D1D;
    padding: auto 150px auto 150px;
    height: 50vh;
}

.solution{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 150px auto 150px;
    margin: 50px 0 0 0;
    /* height: 100vh; */
}

.demo-mov{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 50px auto 50px auto;
}

.gallery{
    margin: 100px auto;
    /* display: flex; */
    text-align: center;
}

.contact-hero{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 80vh; */
}

.contact-hero img{
    width: 500px;
    height: auto;
}
.contact-hero a{
color: white;
}